/*-------------------------Fonts-------------------------*/
@font-face {
	font-family: 'figtree';
	src: url('../fonts/Figtree-VariableFont_wght.ttf');
}
/*-------------------------------------------------------*/


/*--------------------Global_variables-------------------*/
:root {
	--White: hsl(0, 0%, 100%);
	--Yellow: hsl(47, 88%, 63%);
	--Gray_500: hsl(0, 0%, 42%);
	--Gray_950: hsl(0, 0%, 7%);
}
/*-------------------------------------------------------*/


/*----------------------Global_rules---------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'figtree';
}
/*-------------------------------------------------------*/


/*--------------------mobile_(default)--------------------*/
body {
	height: 100svh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--Yellow);
}

.container {
	width: 350px;
	background-color: var(--White);
	padding: 25px;
	border: 2px solid var(--Gray_950);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 8px 8px 0 0;
}

.container .first_img {
	width: 100%;
	border-radius: 10px;	
}

.learning {
	background-color: var(--Yellow);
	width: fit-content;
	padding: 7px 15px;
	margin: 25px 0 20px;
	border-radius: 5px;
	font-weight: 700;
	font-size: 13px;
}

.container p:first-of-type {
	font-size: 13px;
	font-weight: 500;
}

.container p:nth-of-type(2) {
	font-size: 20px;
	font-weight: 800;
	margin: 15px 0;
}

.container p:last-of-type {
	color: var(--Gray_500);
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
}

.profile {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-top: 25px;
}

.profile img {
	width: 35px;
}

.profile p:last-child {
	color: black;
	font-weight: 800;
	letter-spacing: 0.3px;
}
/*--------------------------------------------------------*/

/* -------------------51_area-------------------*/
@media (max-width: 300px)
{
	.container {
		position: relative;
		display: none;
	}

	body::before {
		position: absolute;
		content: '';
		background: url('../media/fin_ghadi.jpg') no-repeat center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 200px;
		width: 250px;
		background-size: cover;
	}
	
	body::after {
		position: absolute;
		content: "";
		width: 80%;
		text-align: center;
		font-size: 20px;
		font-weight: 600;
		top: 65%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
/*----------------------------------------------- */